############################
# OS
############################
.DS_Store
Thumbs.db

############################
# IDE
############################
.idea/
.vscode/
*.iml

############################
# Environment / Secrets
############################
.env
.env.*
*.key

############################
# Java / Quarkus
############################
target/
*.log

# Quarkus dev mode
.quarkus/

############################
# Node / React (Vite)
############################
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################
# Test / Coverage
############################
coverage/

############################
# Misc
############################
*.swp
*.tmp
